@font-face {
		font-family: "Roboto Slab";
		src: url("./RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
		font-family: "Roboto";
		src: url("./Roboto-Regular.ttf");
}

main > .container {
  padding: 60px 15px 0;
}


code {
  font-size: 80%;
}

strong{
	letter-spacing: 1px;
}

h3 {
    font-family: "Roboto Slab", serif ;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.25em;
    color: #006064;
    margin: .25em 0 .56em;
     letter-spacing: 1px;
}
.logo{
	margin:0 .5rem;
}

body{
	font-family: "Roboto", serif ;
	color: "#626d72";
	margin:0.3em 0 1.5em;
}

h4{
	font-size:1.65em;
	font-weight:800;

}
a:link{

}

a {
  position: relative;
  display: inline-block;

  color: #626d72;
  overflow: hidden;
	background: linear-gradient(to right, #006064, #17a2b8 50%, #626d72  50%);
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
	transition: background-position 375ms ease;
}
a:hover {
  background-position: 0 100%;
}
